<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppDiti2025</title>
    <link href="~/niceadmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/niceadmin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/niceadmin/css/style.css" rel="stylesheet" />
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
                <img src="~/niceadmin/img/logo.png" alt="" />
                <span class="d-none d-lg-block">AppDiti2025</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <nav class="header-nav ms-auto">
            <partial name="_LoginPartial" />
        </nav>

    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Apprenants" asp-action="Index">
                    <i class="bi bi-people"></i>
                    <span>Apprenants</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Parents" asp-action="Index">
                    <i class="bi bi-person"></i>
                    <span>Parents</span>
                </a>
            </li>

        </ul>
    </aside>

    <main id="main" class="main mt-5">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/niceadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/niceadmin/js/main.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
