@model AppDiti2025.Models.Parent
@{
    ViewData["Title"] = "Ajouter un parent";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Statut" class="form-label"></label>
        <input asp-for="Statut" class="form-control" />
        <span asp-validation-for="Statut" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-action="Index" class="btn btn-secondary">Retour</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
